*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.nav-container{
    padding-top: 12px;
    height: 64px;
    background-color: rgb(255, 255, 255);
}

.nav-title{
    margin: 0 24px 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.title{
    padding-left: 5px;
    font-size: 20px;
    color: rgb(52, 52, 52);
}

.title span{
    color: rgb(181, 181, 181);
}

.menu{
    display: flex;
}

.menu li{
    display: inline;
    padding: 16px;
    font-size: 18px;
}

.content-container{
    height: 56rem;
    display: flex;
    background-color: rgb(213, 213, 213);
}

.content-learn{
    margin: 32px 24px 32px 24px;
    display: flex
}

.content-learn img {
    width: 60%;
    height: 80%;
}

.banner-container{
    /* width: 60%; */
    /* height: 700px; */
    /* background-color: aqua */
}

.banner-container img{
    /* width: 60%; */
    /* height: 600px; */
}

.button-learn{
    width: 200px;
    height: 36px;
    border: none;
    color: white;
    background-color: gray;
}
